<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        text-align: center;
        padding: 50px;
    }
    h1 {
        color: #333;
        font-size: 2.5em;
    }
    </style>
    <h1>Bienvenidos a mi blogsitio</h1>
    <a href="/contacto">Contáctanos</a>
</body>
</html>